.titleContainer {
    display: flex;
    justify-content: space-between;
    margin: 1em 2em;
    padding: 0;
    width: 100%;
    height: 30px;
}

.content {
    position: absolute;
    width: 95%;
    top: 160px;
}
