.footer {
    background-color: #222222;
    color: #ffFFFF;
    padding: 3em;
    text-align: center;
}

.socialList{
    display: flex;
    justify-content: center;
    list-style-type: none;
}

.socialList li {
    margin: 0 1em;
}

.socialList li:hover {
    color: #FFBB33;
}

.socialList svg {
    cursor: pointer;
    font-size: 1.5em;
}

.copyRight {
    margin-top: 2em;
}

.copyRight span {
    font-weight: bold;
    color: #FFBB33;
}